extends ../layout/layout.jade
	
block title 
	title Message

block header
	#header
	include ../layout/header.jade

block horMenu
	include ../layout/horMenu.jade

block content
	#container
		div(id='tstatMonitor' class = 'navbar')
			p Inside Temperature:  
				span(id='temp')=temp
			p Humidity:
				span(id='humid')=humid
			p AC mode: 
				span(id='mode')=mode
			p Set Temperature: 
				span(id='sTemp')=mode
				//- input(type="text" id='sTemp' value=sTemp )
append scripts 
	script.
		$(function(){
			setInterval(function(){
				$.getJSON('/getJSONTemp').done(function(Rdata){
					$('#temp').text(Rdata.temp)
					$('#humid').text(Rdata.humid)
					$('#mode').text(Rdata.mode)
					$('#sTemp').text(Rdata.sTemp)
					//- alert(Rdata.temp+ 'updated')
					
				})
					
			}, 2000)

			var setTempul = document.createElement('ul')
				setTempul.className = "pager"
				var tempDownli = document.createElement('li')
					var tempDownspan = document.createElement('span');
					tempDownspan.innerHTML = "Down"
					tempDownspan.className = 'glyphicon glyphicon-step-backward'
					tempDownli.appendChild(tempDownspan)
				tempDownli.addEventListener('click', function(){
					setTempInput.value--
					$.post('/postJSONWebSet',{sTempWeb:setTempInput.value}).done(function(Rdata){})
				})
				setTempul.appendChild(tempDownli)

				var setTempli = document.createElement('li')
					var setTempInput = document.createElement('input')
					setTempInput.type = 'text'
					//- setTempInput.id = 'sTemp'
					setTempInput.readOnly = 'true'
					setTempInput.value = !{JSON.stringify(sTemp)}
					setTempli.appendChild(setTempInput)
				setTempul.appendChild(setTempli)

				var tempUpli = document.createElement('li')
					var tempUpspan = document.createElement('span');
					
					tempUpspan.className = 'glyphicon glyphicon-step-forward'
					tempUpspan.innerHTML = "Up"
					tempUpli.appendChild(tempUpspan)
				tempUpli.addEventListener('click', function(){
					setTempInput.value++
					$.post('/postJSONWebSet',{sTempWeb:setTempInput.value}).done(function(Rdata){})
				})
				setTempul.appendChild(tempUpli)

			$('#tstatMonitor').append(setTempul)
		})
