extends ../layout/layout.jade
	
block title 
	title Message

block header
	#header
	include ../layout/header.jade

block horMenu
	include ../layout/horMenu.jade

block content
	#container
		div(id='tstatMonitor' class = 'navbar')
			p Inside Temperature:  
				span(id='temp')=temp
			p Humidity:
				span(id='humid')=humid
			p AC mode: 
				span(id='ACmode')=ACmode
			p AC status: 
				span(id='ACstatus')=ACstatus
			p Fan mode: 
				span(id='FanMode')=FanMode
			p Fan status: 
				span(id='FanStatus')=FanStatus
			p Set Temperature: 
			//- p
			//- 	input(type="text" id='sTemp' value=sTemp )
append scripts 
	script.
		$(function(){
			setInterval(function(){
				$.getJSON('/getJSONTemp').done(function(Rdata){
					$('#temp').text(Rdata.temp)
					$('#humid').text(Rdata.humid)
					$('#ACmode').text(Rdata.ACmode)
					$('#ACstatus').text(Rdata.ACstatus)
					$('#FanMode').text(Rdata.FanMode)
					$('#FanStatus').text(Rdata.FanStatus)
					$('#sTemp').val(Rdata.sTemp)
					//- alert(Rdata.temp+ 'updated')
					
				})
					
			}, 2000)

			var setACMode = document.createElement('ul')
				setACMode.className = "pager"
				var coolli = document.createElement('li')
					var onspan = document.createElement('span');
					onspan.innerHTML = "COOL"
					coolli.appendChild(onspan)
				coolli.addEventListener('click', function(){
					
					$.post('/postJSONWebSet',{webSETACmode:"COOL"}).done(function(Rdata){})
				})
				setACMode.appendChild(coolli)

				var offli = document.createElement('li')
					var offspan = document.createElement('span');
					offspan.innerHTML = "OFF"
					offli.appendChild(offspan)
				offli.addEventListener('click', function(){
					
					$.post('/postJSONWebSet',{webSETACmode:"OFF"}).done(function(Rdata){})
				})
				setACMode.appendChild(offli)

				

				var heatli = document.createElement('li')
					var heatspan = document.createElement('span');
					heatspan.innerHTML = "HEAT"
					heatli.appendChild(heatspan)
				heatli.addEventListener('click', function(){
					
					$.post('/postJSONWebSet',{webSETACmode:"HEAT"}).done(function(Rdata){})
				})
				setACMode.appendChild(heatli)




			var setTempul = document.createElement('ul')
				setTempul.className = "pager"
				
				var tempDownli = document.createElement('li')
					var tempDownspan = document.createElement('span');
					tempDownspan.innerHTML = "Down"
					tempDownspan.className = 'glyphicon glyphicon-step-backward'
					tempDownli.appendChild(tempDownspan)
				tempDownli.addEventListener('click', function(){
					setTempInput.value--
					$.post('/postJSONWebSet',{webSetTemp:setTempInput.value}).done(function(Rdata){})
				})
				setTempul.appendChild(tempDownli)

				var setTempli = document.createElement('li')
					var setTempInput = document.createElement('input')
					setTempInput.type = 'text'
					setTempInput.id = 'sTemp'
					//- setTempInput.readOnly = 'true'
					setTempInput.value = !{JSON.stringify(sTemp)}
					setTempli.appendChild(setTempInput)
				setTempul.appendChild(setTempli)

				var tempUpli = document.createElement('li')
					var tempUpspan = document.createElement('span');
					
					tempUpspan.className = 'glyphicon glyphicon-step-forward'
					tempUpspan.innerHTML = "Up"
					tempUpli.appendChild(tempUpspan)
				tempUpli.addEventListener('click', function(){
					setTempInput.value++
					$.post('/postJSONWebSet',{webSetTemp:setTempInput.value}).done(function(Rdata){})
				})
				setTempul.appendChild(tempUpli)

				

			var setFan = document.createElement('ul')
				setFan.className = "pager"
				var fanli = document.createElement('li')
					var fanspan = document.createElement('span');
					fanspan.innerHTML = "FAN On"
					fanli.appendChild(fanspan)
				fanli.addEventListener('click', function(){
					
					$.post('/postJSONWebSet',{webSETFanMode:"ON"}).done(function(Rdata){})
				})
				setFan.appendChild(fanli)


				var fanautoli = document.createElement('li')
					var fanautospan = document.createElement('span');
					fanautospan.innerHTML = "FAN Auto"
					fanautoli.appendChild(fanautospan)
				fanautoli.addEventListener('click', function(){
					
					$.post('/postJSONWebSet',{webSETFanMode:"AUTO"}).done(function(Rdata){})
				})
				setFan.appendChild(fanautoli)



			$('#tstatMonitor').append(setACMode)
			$('#tstatMonitor').append(setTempul)
			$('#tstatMonitor').append(setFan)
		})
